@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    height: 240px;
    width: 150px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-image: url('/src/static/salah-bg.png');
    background-size: cover;
    background-position: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.25s ease-in-out forwards;
}

.input-city, .input-new-city {
    @apply p-2 rounded bg-white text-black;
    width: 100px;
    padding: 0.5px;
}

.centered-container {
    @apply flex justify-center items-center;
}


.text-brown {
    color: #423232; 
}

.content-lower {
    margin-top: 48px;
}

.city-name {
    text-align: center;
    position: relative;
    top: 3px;
}

.table-cell {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
  }
  
  .table-cell:hover {
    transform: scale(1.15);
  }
  